<div class="row row-margin">
    <div class="col-md-12">
        <h2>Contact us or share our classification tool</h2>
        <div class="col-md-12">
            <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="Information leakage vulnerability - discover which crypto library generated given RSA key!" data-url="http://crcs.cz/rsapp/" data-via="crocs_muni" data-hashtags="1mrsa" data-show-count="false">Tweet</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <a href="mailto:rsa@crcs.cz" class="btn btn-outline-primary mail-link" role="button">Mail to rsa@crcs.cz</a>
        </div>
    </div>
</div>