database:
    dsn: 'mysql:unix_socket=/var/run/mysqld/mysqld.sock;dbname=rsa'
    user: root
    password: changeMe

parameters:
    classificationKeysLimit: 100
    classificationTimeLimit: 10
    apriori:
