parameters:
    dump: %appDir%/data/database-mysql.sql
    classificationTable: %appDir%/data/classification-table.json
    testKeys: %appDir%/data/input-placeholder.txt

database:
    options:
        lazy: true

application:
	errorPresenter: Error
	mapping:
		*: ClassifyRSA\Presenters\*Presenter

session:
	expiration: 14 days

php:
    date.timezone: Europe/Prague

services:
    router: ClassifyRSA\RouterFactory::createRouter
    cache: Nette\Caching\Cache(@cache.storage)
    classification: ClassifyRSA\ClassificationModel(%classificationTable%, %testKeys%, %apriori%)
    database: ClassifyRSA\DatabaseModel(%classificationKeysLimit%, %classificationTimeLimit%)
    webDatabaseCommand:
        class: ClassifyRSA\WebDatabaseCommand(%dump%)
        tags: [kdyby.console.command]
    cmoclAPIKeyCommand:
        class: ClassifyRSA\CMoCLApiKeyCommand
        tags: [kdyby.console.command]
    cmoclInitCommand:
        class: ClassifyRSA\CMoCLInitCommand
        tags: [kdyby.console.command]
    cliGroupsCommand:
        class: ClassifyRSA\CliGroupsCommand
        tags: [kdyby.console.command]
    cliClassifyCommand:
        class: ClassifyRSA\CliClassifyCommand
        tags: [kdyby.console.command]

extensions:
    console: Kdyby\Console\DI\ConsoleExtension
